<rede>
    <router>
        <name>n1</name>
        <vizinhos>
            <ip>10.0.2.2</ip>
        </vizinhos>
    </router>
    <router>
        <name>n2</name>
        <vizinhos>
            <ip>10.0.2.1</ip>
            <ip>10.0.1.2</ip>
        </vizinhos>
    </router>
    <router>
        <name>n7</name>
        <vizinhos>
            <ip>10.0.1.1</ip>
        </vizinhos>
    </router>
</rede>