<rede>
    <router>
        <router_name name="Router1"></router_name>
        <vizinhos>
            <router_ip ip="10.0.5.2"></router_ip>
            <router_ip ip="10.0.4.2"></router_ip>
        </vizinhos>
    </router>
    <router>
        <router_name name="Router2"></router_name>
        <vizinhos>
            <router_ip ip="10.0.4.1"></router_ip>
            <router_ip ip="10.0.3.2"></router_ip>
        </vizinhos>
    </router>
    <router>
        <router_name name="Router3"></router_name>
        <vizinhos>
            <router_ip ip="10.0.3.1"></router_ip>
            <router_ip ip="10.0.5.1"></router_ip>
        </vizinhos>
    </router>
</rede>